<h1>Fisrt angular code</h1>
<!-- <login></login>
<signup></signup>
<h1>{{ name }}</h1> -->

<!-- <h1>{{nameDisplay(13,56)}}</h1> -->

<input type="text" placeholder="name" [(ngModel)] = "name"/>
<h1>{{name}}</h1>


<ul>
    <li *ngFor="let name1 of studentDetails">
        {{ name1.name }}, {{ name1.city }}
    </li>
</ul>

<h1 *ngIf="show" >The value show is :{{show}}</h1>
<button (click) = "changeShow()"> Click me</button>



<p *ngIf="track == 0 " style="color: aquamarine;">the value of track is :0</p>
<p *ngIf="track == 1" style="color: blueviolet;">the value of track is :1</p>
<p *ngIf="track == 2 " style="color: red;">the value of track is :2</p>
<p *ngIf="track ==  3 " style="color: yellow;">the value of track is :3</p>
<p *ngIf="track == 4" style="color: green;">the value of track is :4</p>

<button (click) = "changeTrack()">Track Me</button>